.bk-row-line-g {
  height: 1px;
  transform: scaleY(.5);
  background: #e4e6f0;
}

.bk-col-line-g {
  width: 1px;
  transform: scaleX(.5);
  background: #e4e6f0;
}

.bk-text-title {
  font-family: PingFangSC-Medium;
  font-size: 24px;
  color: #030303;
  letter-spacing: -0.58px;
  line-height: 30px;
}

.bk-text-content {
  font-family: PingFangSC-Regular;
  font-size: 16px;
  line-height: 22px;
  color: #101D37;
  letter-spacing: -0.1px;
}

.bk-text-hint {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #9399A5;
  letter-spacing: -0.09px;
  line-height: 16px;
}

.bk-flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}